$form_bg_color: rgb(244, 244, 244);

.form__container
{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: $form_bg_color;
}

.form__textarea
{
    width: 838px;
    height: 123px;
    margin: 2%;
}

.form__buttons
{
    margin: 2%;
}
