$font-family: 'Roboto';
$font-size: 14px;

$color-primary: #aba194;


body
{
    font-family: $font-family;
    font-size: $font-size;

    height: 100%;

    transform: translate3d(0, 0, 0);
    animation: move 10s ease infinite;

    background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
    background-size: 200% 100%;
}
