$color-blue: rgb(135, 181, 245);
$color-darkblue: rgb(43, 134, 185);
$white: rgb(255, 255, 255);

.main
{
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    height: 100vh;
    min-height: 600px;
    
    background-image: linear-gradient(to right, $color-blue, $color-darkblue);
}

.header
{
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;

    width: 90%;
}

.menu ul
{
    display: flex;

    list-style: none;
}

.round-btn
{
    margin: 10px;
    padding: 10px 20px;

    text-transform: uppercase;

    border: 1px solid $white;
    border-radius: 20px;
}
